body{
    margin:auto;
    background-color:whitesmoke;
    font-family:'Agency FB';
    font-size: 15px;
}
header{
    background-color:midnightblue;
    text-align: center;
    font-family:'Castellar';
    color:floralwhite;
    font-size: 25px;
    padding: 20px;
    border-style: double;
}
}
header img{
    border-radius: 50px;
    width: 300px;
    border: 50px solid #EADDCA;
}
h2{
    font-family:'Castellar';
    color:rgb(143, 3, 3);
    font-size:15px;
}
main{
    max-width: 800px;
    margin: 30px 30px;
    padding: 0 20px;
}
main img{
    max-width: 100%;
}
a{
  color:darkblue;  
}
a:hover{
    background-color: black;
    color:darkgray;
}
footer{
    margin:auto;
}