body{
    background-color: cyan;
}
h1{
font-size: 30px;
color:rgb(199, 40, 204);
}
h2{
color:blue;
font-size: 20px;
}
.big{
font-size: 45px;
}
.uppercase{
text-transform: uppercase;
}
.big.uppercase{
font-style: italic;
}
h1 span{
    font-variant: small-caps;
    font-style: italic;
}